@inherits LayoutComponentBase
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<Language> L

<CascadingAuthenticationState>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <div>
                @Dato
            </div>
            <div>
                <LanguageSwitch />
            </div>
        </div>

            <article class="content px-4">@Body</article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code 
{
    private string Dato = DateTime.Today.ToString("dd-MM-yyyy");
}
</CascadingAuthenticationState>
